body {
  background-color: #001011;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 1px;
}

.about-body {
  background-color: rgb(54, 12, 12);
  width: 100%;
  height: 800px;
}
.header {
  width: 34%;
  height: 50px;
  /* background-color: #001011; */
  border: whitesmoke 1px solid;
  box-shadow: 0 0 10px #3aafb9;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "poppins", Arial, sans-serif;
  font-size: 10px;
  margin: 0%;
}

/* .profile-photo {
    width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
} */

.header h2 {
  gap: 40px;
  color: white;
}

.body-container {
  /* background-color: #093a3e; */
  border: 2px solid #3aafb9;
  box-shadow: 0 0 10px #3aafb9;
  width: 85%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.content {
  width: 600px;
  /* background-color: rgb(75, 100, 122); */
  height: 500px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  /* padding: 20px 20px x20px 0px; */
}

.role1 {
  /* color: red; */
  /* font-family: "Anthony", Arial, sans-serif; */
}

.role2 {
  /* color: rgb(255, 255, 255); */
  /* font-family: "Anthony", Arial, sans-serif; */
}
.role3 {
  /* color: rgb(0, 63, 221); */
  /* font-family: "Anthony", Arial, sans-serif; */
}

h1 {
  /* background-color: black; */
  color: #97c8eb;
  margin: 3px;
  font-family: "Anthony", Arial, sans-serif;
}

.name {
  /* background-color: aqua; */
  /* font-family: poppins-bold, Arial, sans-serifx; */
  color: #64e9ee;
  margin: 3px;
}

.description {
  /* background-color: aquamarine; */
  color: #64e9ee;
  margin: 0px;
  line-height: 20px;
}

.image {
  width: 300px;
  background-color: #001011;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3aafb9;
  box-shadow: 0 0 10px #3aafb9;
  margin-bottom: 0px;
}

.about-header {
  width: 34%;
  height: 50px;
  color: white;
  /* background-color: #ffffff; */
  border: whitesmoke 1px solid;
  box-shadow: 0 0 10px #3aafb9;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "poppins", Arial, sans-serif;
  font-size: 10px;
  margin-top: 90px;
  margin-bottom: 0px;
}

.menu{
    font-size: 20px;
    margin-left: 100px;
    /* background-color: blue; */
}

.about-content p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: italic;
  color: #64e9ee;
}

.about-content {
  margin-top: 0px;
  width: 70%;
  height: 600px;
  line-height: 30px;
  /* background-color: blue; */
}
