@font-face {
  font-family: "Anthony";
  src: url("/fonts/Anthony.ttf");
}

@font-face {
  font-family: "Knewave";
  src: url("/fonts/Knewave-Regular.ttf");
}

@font-face{
  font-family: "Flavors";
  src: url("/fonts/Flavors-Regular.ttf");
}

.header {
  width: 100%;
  background-color: brown;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  /* background-color: #313131; */
  width: 70%;
  font-family: "sans-serif", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 90px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  /* text-shadow: 0px 0px 1px #ffffff, 0px 0px 2px #ffffff, 0px 0px 3px #ffffff,
    0px 0px 4px #ffffff, 0px 0px 5px#ffffff; */
}
.big {
  font-size: 90px;
}
.blue {
  color: #ffffff;
  font-size: 90px;
}

.subtitle{
  font-size: 30px;
  color: blue;
  font-family: "Flavors", Arial, sans-serif;
  letter-spacing: 3px;
}

.description{
  font-size: 20px;
  color: white;
  margin-top: 10px;
  line-height: 1.6;
}

h2 {
  font-family: "poppins", Arial, sans-serif;
  font-size: 30px;
}

body {
  background-color: #020619;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.image-container {
  padding: 10px 20px 10px 20px;
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  /* background-color: aliceblue; */
}

.left-kurunari {
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  border: 3px solid aqua;
  border-radius: 50%;
  background-image: url("/images/CYBER\ KURUNARI.png");
  background-size: cover;
  animation: grow 5s 2.5s infinite;
}
@keyframes grow {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(-1, 1.1) translateY(-150px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.right-kurunari {
  width: 200px;
  height: 200px;
  /* background-color: aqua; */
  border: 3px solid aqua;
  border-radius: 50%;
  background-image: url("/images/CYBER\ KURUNARI.png");
  background-size: cover;
  transform: scaleX(-1);
  animation: flip-grow 5s infinite;
}
@keyframes flip-grow {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(-1, 1.1) translateY(-150px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.projects {
  /* background-color: #ffffff; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin-top: 100px;
}

.projects h2 {
  color: rgb(250, 252, 255);
  /* background-color: aqua; */
  padding: 0px 100px 0px 300px;
  height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 4px;
}

.projects-list {
  /* border: 2px solid rgb(255, 254, 254); */
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 200px 0px 200px;
  margin-top: 1px;
}

.project-container {
  background-color: #1c232dd9;
  background-image: url("/images/noise.png");
  background-repeat: repeat;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 50px 100px 50px 100px;
  border-radius: 40px;
}

.project-content {
  /* background-color: rgb(35, 88, 70); */
  width: 60%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: -100px 20px 10px 20px; */
  flex-direction: column;
  
}

.project-content h2 {
  color: rgb(0, 66, 164);
  padding: 0px 100px 0px 0px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: "Knewave", Arial, sans-serif;
  font-weight: lighter;
  margin-top: 1px;
  margin-bottom: 2px;
}

.project-content p{
  margin-top: 2px;
  line-height: 1.6;
}

.project-image {
  /* background-color: rgb(166, 218, 218); */
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  border: 5px solid rgb(255, 253, 253);
  border-radius: 50%;
  width: 90%;
  height: auto;
}
.about-me {
  /* background-color: #f79e9e; */
  width: 100%;
  height: 500px;
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.image {
  /* background-color: #d41111; */
  width: 200px;
  height: 300px;
  background-image: url("/images/Krishna.jpg");
  background-size: cover;
  border: 40px solid #ffffff;
  align-items: end;
  justify-content: end;
  rotate: 7deg;
}

.about {
  /* background-color: #313030; */
  width: 50%;
  height: 400px;
  overflow-y: scroll;
  padding: 0px 0px 20px 0px;
}

.about h2 {
  color: #ffffff;
  font-family: "Anthony", Arial, sans-serif;
  font-size: 50px;
  padding: 20px;
  text-align: start;
  /* background-color: #d41111; */
  margin: 30px 20px 0px 20px;
  padding-bottom: 0%;
}

.about p {
  font-family: "poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  text-align: start;
  padding: 20px;
  /* background-color: #ffffff; */
  margin: 0px;
}

.footer {
  margin-top: 60px;
  padding: 30px;
  background-color: #ffffffaf;
  width: 90%;
}
.footer p {
  color: black;
  text-align: center;
  font-family: "poppins", Arial, sans-serif;
  font-size: medium;
}
